* {
  font-family: IBM Plex Sans, MesloLGS NF, FontAwesome, Roboto, Helvetica, Arial,
    sans-serif;
  font-size: 14px;
}

#waybar {
  background-color: rgba(43, 48, 59, 0.8);
  border-top: 1px solid rgba(100, 114, 125, 0.8);
  color: #ffffff;
  transition-property: background-color;
  transition-duration: 0.5s;
}

#waybar.hidden {
  opacity: 0.2;
}

.cffi-niri-windows label {
  font-family: Uiua386;
  font-size: 18px;
  margin-top: -2px;
}

.cffi-niri-windows .floating {
  background: rgba(35, 50, 112, 0.311);
}

.cffi-niri-windows .floating:active {
  background: rgb(85, 119, 255);
}

.cffi-niri-windows .column:active {
  background-color: rgb(255, 255, 255);
}

.cffi-niri-windows .tile {
  background-color: rgba(255, 255, 255, 0.297);
  transition: background-color 75ms ease-in-out;
}

.cffi-niri-windows .tile:only-child {
  background-color: rgb(255, 0, 0);
}

.cffi-niri-windows .tile:hover {
  background-color: rgba(255, 255, 255, 0.379);
}

.cffi-niri-windows .tile:active {
  background-color: rgba(255, 255, 255, 0.498);
}

.cffi-niri-windows .tile.vscode {
  background-color: rgba(40, 157, 137, 0.373);
}

.cffi-niri-windows .tile.vscode:active {
  background-color: rgba(63, 240, 211, 0.641);
}

.cffi-niri-windows .tile.alacritty {
  background-color: rgba(245, 116, 1, 0.373);
}

.cffi-niri-windows .tile.alacritty:active {
  background-color: rgba(245, 115, 1, 0.883);
}

.cffi-niri-windows .tile.alacritty-2 {
  background-color: rgba(25, 245, 1, 0.373);
}

.cffi-niri-windows .tile.alacritty-2:active {
  background-color: rgba(25, 245, 1, 0.883);
}

.cffi-niri-windows .tile.alacritty-3 {
  background-color: rgba(1, 34, 245, 0.373);
}

.cffi-niri-windows .tile.alacritty-3:active {
  background-color: rgba(1, 34, 245, 0.883);
}
