* {
  font-family: IBM Plex Sans, MesloLGS NF, FontAwesome, Roboto, Helvetica, Arial,
    sans-serif;
  font-size: 12px;
}

window#waybar {
  background-color: rgba(43, 48, 59, 0.8);
  border-top: 1px solid rgba(100, 114, 125, 0.8);
  color: #ffffff;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

.cffi-niri-windows label {
  font-family: Uiua386;
  font-size: 18px;
  margin-top: -2px;
}

.cffi-niri-windows .tile {
  background-color: rgba(255, 255, 255, 0.297);
}

.cffi-niri-windows .tile.focused {
  background-color: rgba(255, 255, 255, 0.498);
}

.cffi-niri-windows .tile.vscode {
  background-color: rgba(40, 157, 137, 0.373);
}

.cffi-niri-windows .tile.vscode.focused {
  background-color: rgba(63, 240, 211, 0.641);
}

.cffi-niri-windows .tile.alacritty {
  background-color: rgba(245, 116, 1, 0.373);
}

.cffi-niri-windows .tile.alacritty.focused {
  background-color: rgba(245, 115, 1, 0.883);
}

.cffi-niri-windows .tile.alacritty-2 {
  background-color: rgba(25, 245, 1, 0.373);
}

.cffi-niri-windows .tile.alacritty-2.focused {
  background-color: rgba(25, 245, 1, 0.883);
}

.cffi-niri-windows .tile.alacritty-3 {
  background-color: rgba(1, 34, 245, 0.373);
}

.cffi-niri-windows .tile.alacritty-3.focused {
  background-color: rgba(1, 34, 245, 0.883);
}
